
a:hover {
    text-decoration:none;
}


h1 {
    background:navy;
    color:white;
    padding:0.5rem;
}
h2 {

    border-left:solid 0.5rem navy;
    border-bottom:solid 0.2rem navy;

    padding:0.5rem;
    
}

img {
    max-width:100%;
}

.header_content{
    text-align:center;

    padding:0.5rem;
    border:solid 1px navy;
    border-radius:0.5rem;

    transition:0.2s;
}
.header_content:hover {
    background:navy;
    color:white;

    transition:0.2s;
}


.jacket_image_area{
    border:solid 1px navy;
    margin:0.5rem 0;
}

